[submodule "source/noteout"]
	path = noteout
	url = https://github.com/matthew-brett/noteout
[submodule "jupyterlite-webr-kernel"]
	path = jupyterlite-webr-kernel
	url = https://github.com/r-wasm/jupyterlite-webr-kernel
